.Navbar-logo {
  height: 2rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Navbar-logo {
    animation: Navbar-logo-spin infinite 20s linear;
  }
}

@keyframes Navbar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
